@mixin grid($column, $spacing) {
    --column: #{$column};
    --spacing: #{$spacing};

    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));

    >* {
        width: calc(100% / var(--column) - var(--spacing));
        margin-left: var(--spacing);
    }
}

.list {
    @include grid(4, 30px);

    .item {
        background: olivedrab;

        font: {
            size: 20px;
            font-weight: 600;
        }
    }
}

.new-list {
    @include grid(2, 20px);

    margin-top: 20px;

    .new-item {
        background: orange;
    }
}